* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100%;
}

body * {
    touch-action: none;
}

.hidden {
    display: none;
}

img {
    pointer-events: none;
}

/* 배경 이미지 */
#bgImg {
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* 시계 */
#clock {
    font-size: 70px;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

/* 인사 */
#greeting {
    width: 1500px;
    text-align: center;
    font-size: 50px;
    position: absolute;
    color: white;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
}

/* todolist 입력 */
#todo-form {
    position: absolute;
    width: 600px;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}

#todo-input {
    font-size: 20px;
    color: white;
    width: 600px;
    border: none;
    border-bottom: solid white 3px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    background: none;
    z-index: 1;
}

#todo-input:focus {
    outline: none;
}

#todo-label {
    width: 600px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    bottom: 10px;
    transition: all .2s;
}

#todo-span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #ccc;
    width: 0;
    height: 3px;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: 2;
}

#todo-input:focus ~ label {
    font-size: 20px;
    font-weight: bold;
    bottom: 40px;
    color: #ccc;
    font-weight: bold;
}
    
#todo-input:focus ~ span {
    width: 100%;
}

/* 명언 */
#quote {
    width: 1500px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    color: white;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

/* 날씨 */
#weather {
    width: 100%;
    bottom: 0;
    position: absolute;
    color: white;
    text-align: right;
}

#weatherIcon {
    position: relative;
    right: 50%;
}